.layout-header {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 60px;
  align-items: center;
  background: #fcfbf9;
  padding: 0px 30px;
  .logo-container {
    display: flex;
    justify-content: center;
    & a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      text-decoration: none;
      color: #000000;
      & img {
        height: 40px;
        width: 40px;
        object-fit: contain;
      }
    }
  }

  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    gap: 10px;
    & li {
      font-family: 'Open Sans', sans-serif;
      list-style: none;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #000000;
    }
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: #000000;
  }
}